$event: #d8fef6;
$trip: #f6ebff;
$move: #ffdeed;
$intro: #ffedce;

$checkbox: #2196f3;

$dark-text: #393939;

$tooltip-bg: #f2f2f2;

$edit-btn-bg: #13439a;
$form-field-border: gray;
$form-field-border-focus: $edit-btn-bg;